body {
	background-color: #f7f7f7;
	padding: 10px;
}

.space {
	height: 40px;
}

input {
	width: 85%;
	height: 8%;
	border: none;
}

.input-group-text {
	background-color: #fff
}

@media screen and (max-width: 300px) {
  .hidden {
    display: none;
  }
}