nav {
    position: fixed;
/*    top: 0;*/
    vertical-align: middle;
    z-index: 999;
}

nav img {
    width: 100px;
}

body {
    background-color: #f8f8f8;
    max-width: 100% !important;
}

.header {
    background-color: #ffffff;
}

hr {
    width: 100%;
    color: #E0E0E0;
}

#card-signin {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-success {
    background-color: #00835D;
}

.forgot {
    color: #2F4EA5;
}

.check {
    margin-left: 20px;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    color: #868686
}

a {
    text-decoration: none;
}

.text {
    margin-top: 10px;
    width: 90%;
    display: inline-block;
}

h2 {
    text-align: center;
}

.exit {
    position: fixed;
    float: right !important;
    padding-left: 86%;
    top: 3;
    z-index: 999;
    text-decoration: none;
}

#invite {
    background-color: #F4F8FE;
    width: 80%;
    height: 10%;
    border-color: color: #308CD4;
    text-align: center;
}

.fa-paper-plane {
    font-size: 22px;
    color: #308CD4;
}

a:hover{
    text-decoration: none;
}

.exit a {
    color: black;
}